<h1>Signin</h1>
<% if flash[:notice] %>
    <div class="alert alert-danger">
        <strong><%= flash[:notice] %></strong>
    </div>
<% end %>
<%= form_tag({action: 'create'}, {class: 'custom-form'}) do %>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
    <br>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Signin" %>
<% end %>

<%= link_to "Signin With Github", "/auth/github", class: 'btn btn-primary' %>
