<h1>Signin</h1>
<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>
<%= form_tag do %>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
    <br>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Signin" %>
<% end %>

<a href="/auth/github">Signin With Github</a>
