

<h1>Welcome, <%= current_user.name %></h1>

<p class="date-today">Today's Date: <%= Date.today.strftime("%m/%d/%Y") %></p><br>

<%= link_to "Create New Listing", new_user_apartment_path(current_user), class: 'btn btn-primary' if current_user.admin %>

<div id="appointments-title-container"></div>
<div class="appointments"></div>
<div class="all-apartments">
</div>

<% if !current_user.appointments_happening_soon.empty? %>
    <h1>Happening Soon</h1>
<% end %>
<div class="all-appointments-profile-page">
    <% current_user.appointments_happening_soon.each do |appointment| %>
        <div class="appointment">
            <%= image_tag(appointment.apartment.image_url(:thumb).to_s) %>
            <div class="appointment-info">
                <p class="alert alert-success"><%= appointment.apartment.reformat_date_time %> at
                <%= appointment.apartment.address %></p>
                <%= link_to "View Apartment", user_apartment_path(current_user, appointment.apartment), class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>

 <!-- Look into moving all lodash templates to one file and requiring file of some sort of partial -->

<script id="appointment-template" type="x-lodash-template">
    <div class="appointment" data-appointmentId={{= id }} data-apartmentId={{= apartmentId }}>
        <img src={{= imageThumb }} />
        <div class="appointment-info">
            <p>Showing: {{= time }}</p>
                <a href="#" onclick="deleteAppointment();" class="btn btn-primary" id="js-delete-appointment">Delete Appointment</a>
                <a href={{= apartmentUrl }} class="btn btn-primary">See Apartment</a>
            </form>
        </div>
    </div>
</script>

<script id="apartment-template" type="x-lodash-template">
    <div class="apartment-index-page container">
    <h2 id="apartment-address">{{= address }}</h2>
        <div data-id={{= id }} class="apartment-content">
        <img src={{= url }} class="large-image" />
            <div class="apartment-info">
                <p>Bedrooms: {{= bedrooms }}</p>
                <p>Bathrooms: {{= bathrooms }}</p>
                <p>Parking: {{= parking }}</p>
                <p>Price: ${{= price }}</p>
                <p>Attending: {{= attending }}</p>

                <a href={{= link }} class="btn btn-primary">View Apartment</a>
            </div>
        </div>
    </div>
</script>
