

<h1>Welcome, <%= current_user.name %></h1>

<p class="date-today">Today's Date: <%= Date.today.strftime("%m/%d/%Y") %></p><br>

<%= link_to "Create New Listing", new_user_apartment_path(current_user), class: 'btn btn-primary' if current_user.admin %>
<%= link_to "View Past Appointments",  past_appointments_path, class: 'btn btn-primary' if !Appointment.past_appointments.empty? %>

<%= link_to "Show All Apartments", apartments_path, class: 'btn btn-primary js-get-all-apartments-btn' %>

<%= link_to "Show Your Appointments", user_appointments_path(current_user), class: 'btn btn-primary js-get-appointment-btn' %>

<div class="all-apartments">
</div>

    <% if !current_user.appointments_happening_soon.empty? %>
        <h1>Happening Soon</h1>
    <% end %>
    <div class="all-appointments-profile-page">
        <% current_user.appointments_happening_soon.each do |appointment| %>
        <div class="appointment">
            <%= image_tag(appointment.apartment.image_url(:thumb).to_s) %>
            <div class="appointment-info">
                <p class="alert alert-success"><%= appointment.apartment.reformat_date_time %> at
                <%= appointment.apartment.address %></p>
                <%= link_to "View Apartment", user_apartment_path(current_user, appointment.apartment), class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>

    <script id="apartment-template" type="x-lodash-template">
           <div class="apartment-index-page container">
               <div data-id={{= id }} class="apartment-content">
               <img src={{= url }} class="large-image" />
                   <div class="apartment-info">
                       <p>Address: {{= address }}</p>
                       <p>Attending: {{= attending }}</p>
                       <p>Showing: {{= showing }}</p>
                       <a href={{= link }} class="btn btn-primary">View Apartment</a>
                   </div>
               </div>
           </div>
    </script>
