<%= form_for @appointment , :url => apartment_appointments_path(@apartment) do |f| %>
    <h4>Open house time: <%= @apartment.reformat_date_time %></h4>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :apartment_id, :value => @apartment.id %>
    <%= f.hidden_field :time, :value =>  @apartment.available_times %>
    <%= f.submit %>
<% end %>
