<h1>Your Appointments</h1>

    <% current_user.order_by_date_acs.each do |appointment| %>
        <% if !current_user.admin %>
            <div class="appointment container">
                <%= image_tag(appointment.apartment.image_url(:thumb).to_s) %>

                <div class="appointment-info">
                    <p>Showing <%= appointment.apartment.reformat_date_time %></p>
                    <p><%= appointment.apartment.address %></p>
                </div>

                <div class="appointment-buttons-info">
                    <%= link_to "View Apartment", user_apartment_path(current_user, appointment.apartment), class: 'btn btn-primary'%>
                    <%= form_tag apartment_appointment_path(appointment.apartment, appointment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <%= submit_tag "Cancel Appointment", class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        <% else %>
        <%= image_tag(appointment.apartment.image_url(:thumb).to_s) %>
            <p>Showing <%= appointment.apartment.reformat_date_time %></p>
            <p>Attending: <%= appointment.apartment.appointments.size - 1 %></p>
            <%= link_to "View Apartment", user_apartment_path(current_user, appointment.apartment)%>
        <% end %>
    <% end %>
