<% if current_user.admin %>
    <h1>Your Apartments</h1>
    <% current_user.apartments.each do |apartment| %>
        <%= image_tag(apartment.image_url.to_s, size: '500x300') %>

        <p>Address: <%= apartment.address %></p>
        <p>Pontential tenents attending: <%= apartment.appointments.size - 1 %></p>
        <p>Appointment: <%= apartment.reformat_date_time %></p>
        <%= link_to "View Apartment", user_apartment_path(current_user, apartment)%>
        <br>

        <!-- # apartment.appointments.size is incuding the first appointment which is made by the admin. So I subtract the admin's appointment. I the admin has to make an appointmet to associate the apartment with the admin see create action in apartments_controller.-->
    <% end %>
    <%= link_to "Create New Listing", new_user_apartment_path(current_user) %>
<% else %>
    <h1>All Available Apartments</h1>
    <% @apartments.each do |apartment| %>
            <%= image_tag(apartment.image_url.to_s, size: '500x300') %>
            <p>Address: <%= apartment.address %></p>
            <p>Showing: <%= apartment.reformat_date_time %></p>
            <%= link_to "View Apartment", user_apartment_path(current_user, apartment)%>
        <br>
    <% end %>
<% end %>
