<div id="appointments-title-container"></div>
<div class="appointments"></div>
<div class="all-apartments"></div>
<div class="all-past-appointments-page">
    <% Appointment.past_appointments.each do |appointment| %>

        <div class="container past-appointment">
            <%= image_tag(appointment.apartment.image_url(:thumb).to_s) %>

                <div class="appointment-info">
                    <div class="alert alert-danger">
                        <strong>Shown at <%= appointment.apartment.reformat_date_time %> <%= appointment.apartment.address %></strong>
                    </div>

                    <div>
                        <% if current_user.admin %>
                            <%= link_to "Post again", edit_apartment_path(appointment.apartment), class: "btn btn-primary" if current_user.admin %>
                            <%= form_tag user_apartment_path(current_user, appointment.apartment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <%= submit_tag "Delete Apartment", class: "btn btn-primary delete-btn" %>
                            <% end %>
                        <% end %>
                    </div>

              </div>
        </div>
    <% end %>
</div>

<script id="appointment-template" type="x-lodash-template">
    <div class="appointment" data-appointmentId={{= id }} data-apartmentId={{= apartmentId }}>
        <img src={{= imageThumb }}
        <div class="appointment-info">
            <p>Showing: {{= time }}</p>
                <a href="#" onclick="deleteAppointment();" class="btn btn-primary" id="js-delete-appointment">Delete Appointment</a>
            </form>
        </div>
    </div>
</script>

<script id="apartment-template" type="x-lodash-template">
       <div class="apartment-index-page container">
       <h2 id="apartment-address">{{= address }}</h2>
           <div data-id={{= id }} class="apartment-content">
           <img src={{= url }} class="large-image" />
               <div class="apartment-info">
                   <p>Bedrooms: {{= bedrooms }}</p>
                   <p>Bathrooms: {{= bathrooms }}</p>
                   <p>Parking: {{= parking }}</p>
                   <p>Price: ${{= price }}</p>
                   <p>Attending: {{= attending }}</p>
                   <p>Showing: {{= showing }}</p>
                   <a href={{= link }} class="btn btn-primary">View Apartment</a>
               </div>
           </div>
       </div>
</script>
