<% if current_user.attending_appointment?(@apartment) %>
    <div class="alert alert-success">
        <strong>You RSVP'D to this apartment</strong>
    </div>
<% end %>
<div id="appointments-title-container"></div>
<div class="appointments"></div>
<div class="all-apartments">
</div>

<div class="apartment container-fluid" id="apartment">
    <h2 id="apartment-address"><%= @apartment.address %></h2>
    <div class="apartment-content" data-id="<%= @apartment.id %>">
        <%= image_tag(@apartment.image_url.to_s, size: '500x300') %>
            <div class="apartment-info">
                <p>Bdr: <%= @apartment.bedrooms %></p>
                <p>Bath: <%= @apartment.bathrooms %></p>
                <p>Parking: <%= @apartment.parking %></p>
                <p>$<%= @apartment.price %></p>
                <p>Showing on <%= @apartment.reformat_date_time %></p>

                <% if !current_user.admin && !current_user.attending_appointment?(@apartment) %>
                    <%= render partial: 'async_form', locals: { apartment: @apartment } %>
                <% elsif current_user.admin %>
                    <p>Attending: <%= @apartment.appointments.size - 1 %></p>
                    <%= link_to "Edit apartment", edit_user_apartment_path(current_user, @apartment), class: "btn btn-primary" %>
                    <%= form_tag user_apartment_path(current_user, @apartment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <%= submit_tag "Delete Apartment", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
            </div>
    </div>
</div>
<div id="apartment-contact-previous-next">
    <%= link_to "<", "#", class: "btn btn-primary js-previous-apartment", id: "js-previous-apartment" %>

    <%= link_to ">", "#", class: "btn btn-primary", id: "js-next-apartment" %>

    <div class="apartment-contact-info">
        <p>Contact: <%= @apartment.leasing_agent_contact.name %></p>
        <p>Email: <%= @apartment.leasing_agent_contact.email %></p>
        <p>Phone: <%= @apartment.leasing_agent_contact.phone %></p>
    </div>
</div>
<script id="appointment-template" type="x-lodash-template">
    <div class="appointment" data-appointmentId={{= id }} data-apartmentId={{= apartmentId }}>
        <img src={{= imageThumb }} />
        <div class="appointment-info">
            <p>Showing: {{= time }}</p>
                <a href="#" onclick="deleteAppointment();" class="btn btn-primary" id="js-delete-appointment">Delete Appointment</a>
                <a href={{= apartmentUrl }} class="btn btn-primary">View Apartment</a>
            </form>
        </div>
    </div>
</script>

<script id="apartment-template-apartments-show" type="x-lodash-template">
          <h2 id="apartment-address">{{= address }}</h2>
           <div data-id={{= id }} class="apartment-content">
           <img src={{= url }} class="large-image" />
               <div class="apartment-info">
                   <p>Bedrooms: {{= bedrooms }}</p>
                   <p>Bathrooms: {{= bathrooms }}</p>
                   <p>Parking: {{= parking }}</p>
                   <p>Price: ${{= price }}</p>
                   <p>Attending: {{= attending }}</p>
                   <p>Showing: {{= showing }}</p>
                   <a id="make-appointment-btn" href={{= link }} class="btn btn-primary">make Appointment</a>
               </div>
           </div>
</script>
