
<!DOCTYPE html>
<html>
  <head>
    <title>RailsAmusementPark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <%= javascript_tag do %>
        window.userId = <%= current_user.id if current_user %>;
    <% end %>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if  current_user && current_user.id != nil %>
                <li><%= link_to "Appointments", user_appointments_path(current_user), class: 'js-get-appointments-btn' %></li>
                <li><%= link_to  "Apartments", user_apartments_path(current_user), class: "js-get-all-apartments-btn" %></li>
                <li><%= link_to "Past Appointments",  past_appointments_path if !Appointment.past_appointments.empty? %></li>
                <li><%= link_to "Account", edit_user_path(current_user) %></li>
                <li><%= link_to "Logout", '/logout' %></li>
            <% else %>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
